
*.class


*.log


target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar


.project
.classpath
.settings/
.metadata/


.idea/
*.iml
*.iws
*.ipr
out/


nbproject/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


.vscode/


test-output/
screenshots/
reports/
logs/


.DS_Store
Thumbs.db


drivers/
*.exe


*.tmp
*.bak
*.swp
*~


*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
